# import libraries

In [45]:
import numpy as np
import pandas as pd

In [ ]:
# TASKS:
## What was the highest Sales?
## What was the highest profit?
## what was the highest selse in 2020?
## what was the highest profit in 2020?
## Get a view of unique values in column, e.g.'Sub-Category' 
## what was the average discount rate of chairs?
## what was the min & max discount rate of chairs?
## what was the average discount rate of Phones?
## what was the min & max discount rate of Phones?
## what was the average discount rate in phones?
## Add an extra column for "Order Month" & "Order Year"
## Add extra columns to seperate Year & Month from the Order Date
## Add a new column to calcolate the profit margin for each sales record  
## Export manipulated Dataframe to csv
## create a new dataframe to reflect total & sales by sub_category
## Develop a function,to return a dataframe which is grouped by a particular column

### Load DataFrame and store it in a variable called "df"

In [67]:
df=pd.read_excel('data.xlsx',engine='openpyxl')
pd.options.display.max_rows = 10000

#### Inspeact first 3 rows of the DataFramedf.head

In [69]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,13,CA-2017-114412,2020-04-15,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.552,3,0.2,5.4432
1,24,US-2017-156909,2020-07-16,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,Pennsylvania,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
2,35,CA-2017-107727,2020-10-19,Second Class,MA-17560,Matt Abelman,Home Office,United States,Houston,Texas,77095,Central,OFF-PA-10000249,Office Supplies,Paper,Easy-staple paper,29.472,3,0.2,9.9468

#### Inspeact first 3 rows of the DataFramedf.tail

In [70]:
df.tail(3)

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3309,9992,CA-2017-121258,2020-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
3310,9993,CA-2017-121258,2020-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
3311,9994,CA-2017-119914,2020-05-04,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

#### What was the highest Sales?

In [71]:
df.nlargest(5, 'Sales')

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2710,8154,CA-2017-140151,2020-03-23,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808
810,2624,CA-2017-127180,2020-10-22,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,10024,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888
1342,4191,CA-2017-166709,2020-11-17,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,Delaware,19711,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856
185,684,US-2017-168116,2020-11-04,Same Day,GT-14635,Grant Thornton,Corporate,United States,Burlington,North Carolina,27217,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,0.5,-3839.9904
2142,6521,CA-2017-138289,2020-01-16,Second Class,AR-10540,Andy Reiter,Consumer,United States,Jackson,Michigan,49201,Central,OFF-BI-10004995,Office Supplies,Binders,GBC DocuBind P400 Electric Binding System,5443.960,4,0.0,2504.2216

### What was the highest Profit?

In [72]:
df.nlargest(3,'Profit')

,Row ID,Order ID,Order Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2710,8154,CA-2017-140151,2020-03-23,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808
1342,4191,CA-2017-166709,2020-11-17,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,Delaware,19711,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856
810,2624,CA-2017-127180,2020-10-22,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,10024,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888

### what was the highest selse in 2020?

In [73]:
df.iloc[df['Sales'].argmax()]

Row ID                                            8154
Order ID                                CA-2017-140151
Order Date                         2020-03-23 00:00:00
Ship Mode                                  First Class
Customer ID                                   RB-19360
Customer Name                             Raymond Buch
Segment                                       Consumer
Country                                  United States
City                                           Seattle
State                                       Washington
Postal Code                                      98115
Region                                            West
Product ID                             TEC-CO-10004722
Category                                    Technology
Sub-Category                                   Copiers
Product Name     Canon imageCLASS 2200 Advanced Copier
Sales                                         13999.96
Quantity                                             4
Discount                                           0.0
Profit                                       6719.9808
Name: 2710, dtype: object

### what was the highest Profit in 2020?

In [52]:
df.iloc[df['Profit'].argmax()]

Row ID                                            8154
Order ID                                CA-2017-140151
Order Date                         2020-03-23 00:00:00
Ship Mode                                  First Class
Customer ID                                   RB-19360
Customer Name                             Raymond Buch
Segment                                       Consumer
Country                                  United States
City                                           Seattle
State                                       Washington
Postal Code                                      98115
Region                                            West
Product ID                             TEC-CO-10004722
Category                                    Technology
Sub-Category                                   Copiers
Product Name     Canon imageCLASS 2200 Advanced Copier
Sales                                         13999.96
Quantity                                             4
Discount                                           0.0
Profit                                       6719.9808
Name: 2710, dtype: object

#### Get a view of unique values in column, e.g.'Sub-Category'

In [53]:
df['Sub-Category'].unique()

array(['Paper', 'Chairs', 'Phones', 'Storage', 'Binders', 'Furnishings',
       'Accessories', 'Labels', 'Art', 'Fasteners', 'Envelopes',
       'Appliances', 'Tables', 'Copiers', 'Bookcases', 'Supplies',
       'Machines'], dtype=object)

#### what was the average discount rate of chairs?

In [54]:
mask=df['Sub-Category']=='Chairs'

df[mask]['Discount'].mean()

0.1673684210526316

#### what was the min & max discount rate of chairs?

In [74]:
mask=df['Sub-Category']=='chairs'
#df[mask]['Discount'].min()
df[mask]['Discount'].max()

nan

#### what was the average discount rate of Phones?

In [60]:
mask=df['Sub-Category']=='Phones'

df[mask]['Discount'].mean()

0.16394557823129272

#### what was the min & max discount rate of Phones?

In [63]:
mask=df['Sub-Category']=='Phones'

#df[mask]['Discount'].min()
df[mask]['Discount'].max()

0.4